<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
    <style>
        form{
            width: 800px;
            margin: auto;
            margin-top: 50px;
        }
        label,input,textarea,h1{
            width: 100%;
            margin: 10px;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>

<form th:action="@{/blog/savepost}" th:object="${Post}" method="POST">
    <h1>Create new BlogPost</h1>
    <label for="title">Title</label><br>
    <!-- Use th:field to bind title field to the 'title' property of the Post object -->
    <input type="text" id="title" th:field="*{title}"/>

    <label for="tags">Tags</label><br>
    <input id="tags" type="text"  name="tagString" /><br>

    <label for="content">Content</label><br>
    <!-- Use th:field to bind content field to the 'content' property of the Post object -->
    <textarea id="content" th:field="*{content}" rows="6"></textarea>

    <input type="submit" value="Publish">
</form>



</body>
</html>